.anime{
    margin-left: 40px;
    margin-right: 80px;
    margin-bottom: 10px; 
    margin-top: 10px;
    display: flex;
}

#animes {
    border: solid;
    border-width: thin;
}

.animetext {
    margin-left: 10px;
}

